#correct {
    color: green;
    flex: 1 0 50%;
    font-size: calc(15px + 2vh);
}

#incorrect {
    color: red;
    flex: 1 0 50%;
    font-size: calc(15px + 2vh);
}

#score {
    flex: 1 0 100%;
    font-size: calc(15px + 4vh);
}

.endContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.restartBtn {
    margin-top: 2vh!important;
    font-size: calc(5px + 3vh);
}