.answerContainer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 95%;
}

.answerBtn {
  flex: 0 1 calc(50% - 20px);
  margin: 10px;
  font-size: calc(10px + 1.5vh);
}

.question {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.questionTitle {
  flex: 0 1 95%;
  font-size: calc(15px + 2vh);
  padding-bottom: 3vh;
}

.response {
  position: fixed;
  bottom: 10%;
  font-size: calc(10px + 4vh);
}
